<style>
    
    .bold {
        color: orange;
    }

    .pred-good {
        color: green;
        font-size: 2rem;
    }
    
    .pred-defect {
        color: red;
        font-size: 2rem;
    }

    .centered {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

</style>


    
<div hx-trigger="afterFadeOut">
    <h1>Uploaded successfully</h1>
    <p>File Name: {{name}}</p>
    <p class="{% if prediction == 'Good' %} pred-good {% else %} pred-defect {% endif %};"> Your Tyre is {{prediction}}</p>
    <p> Estimated Accuracy: {{score}}%</p>
    <div class ="centered" hx-target="this" hx-swap="outerHTML">
        <img src="{{source}}" alt = "The Resulting image"/>
        <button hx-get="/showMap/{{source}}"> show only the map </button>
        <p> The red parts of the image endicate the important parts for the classification</P>
    </div>
    <button  onclick="location.reload();"> check another tyre</button>
</div>

